# Week 3 Exercises  

***Karlie Schwartzwald  
DSC 550 Fall 2022  
Bellevue University***

**Change Control Log:**  

Change#: 1  
Change(s) Made:   
Date of Change:  
Author: Karlie Schwartzwald  
Change Approved by: Karlie Schwartzwald  
Date Moved to Production: 9/18/2022

In [1]:
# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Part 1: Using the TextBlob Sentiment Analyzer

1. Import the movie review data as a data frame and ensure that the data is loaded properly.

In [2]:
# import moview review dataframe
movie_review_df = pd.read_csv('labeledTrainData.tsv', sep='\t')

In [3]:
movie_review_df.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

2. How many of each positive and negative reviews are there?

In [4]:
movie_review_df.groupby('sentiment').count()

              id  review
sentiment
0          12500   12500
1          12500   12500

In [5]:
print(f'There are 12500 positive reviews and 12500 negative reviews')

There are 12500 positive reviews and 12500 negative reviews

3. Use TextBlob to classify each movie review as positive or negative. Assume that a polarity score greater than or equal to zero is a positive sentiment and less than 0 is a negative sentiment.

In [6]:
# install textblob package
!pip3 install textblob

Requirement already satisfied: textblob in c:\programdata\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\programdata\anaconda3\lib\site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.62.3)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)

In [7]:
from textblob import TextBlob

In [8]:
# generate polarity score for each review and add to new column in df
movie_review_df['polarity'] = movie_review_df['review'].apply(lambda reviewtext: TextBlob(reviewtext).sentiment.polarity)

In [9]:
# convert polarity score to 1 or 0 and add to new olumn in df called 'score'
conditions = [movie_review_df['polarity']>=0, movie_review_df['polarity']<0]
results = [1,0]
movie_review_df['score'] = np.select(conditions, results)

In [10]:
movie_review_df.head(10)

,id,sentiment,review,polarity,score
0,5814_8,1,With all this stuff going down at the moment w...,0.001277,1
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...",0.256349,1
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,-0.053941,0
3,3630_4,0,It must be assumed that those who praised this...,0.134753,1
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,-0.024842,0
5,8196_8,1,I dont know why people think this is such a ba...,0.105882,1
6,7166_2,0,"This movie could have been very good, but come...",-0.027054,0
7,10633_1,0,I watched this video at a friend's house. I'm ...,0.068750,1
8,319_1,0,"A friend of mine bought this film for £1, and ...",0.098810,1
9,8713_10,1,<br /><br />This movie is full of references. ...,0.258333,1

4. Check the accuracy of this model. Is this model better than random guessing?

In [11]:
# Does assigned sentiment match predicted sentiment?
movie_review_df['match'] = np.where(movie_review_df['sentiment'] == movie_review_df['score'], True, False)
movie_review_df.head(10)

,id,sentiment,review,polarity,score,match
0,5814_8,1,With all this stuff going down at the moment w...,0.001277,1,True
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...",0.256349,1,True
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,-0.053941,0,True
3,3630_4,0,It must be assumed that those who praised this...,0.134753,1,False
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,-0.024842,0,False
5,8196_8,1,I dont know why people think this is such a ba...,0.105882,1,True
6,7166_2,0,"This movie could have been very good, but come...",-0.027054,0,True
7,10633_1,0,I watched this video at a friend's house. I'm ...,0.068750,1,False
8,319_1,0,"A friend of mine bought this film for £1, and ...",0.098810,1,False
9,8713_10,1,<br /><br />This movie is full of references. ...,0.258333,1,True

In [12]:
# calculate accuracy of our model
accuracy = movie_review_df['match'].sum()/25000*100
print(f'The accuracy of our model using TextBlob is {accuracy}%.')

The accuracy of our model using TextBlob is 68.524%.

5. For up to five points extra credit, use another prebuilt text sentiment analyzer, e.g., VADER, and repeat steps (3) and (4).

In [13]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\karli\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [14]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [15]:
sia = SentimentIntensityAnalyzer()

In [16]:
review_df = pd.read_csv('labeledTrainData.tsv', sep='\t')

In [17]:
review_df['scores'] = review_df['review'].apply(lambda x: sia.polarity_scores(x))
review_df.head()

,id,sentiment,review,scores
0,5814_8,1,With all this stuff going down at the moment w...,"{'neg': 0.13, 'neu': 0.744, 'pos': 0.126, 'com..."
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...","{'neg': 0.047, 'neu': 0.739, 'pos': 0.214, 'co..."
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,"{'neg': 0.142, 'neu': 0.8, 'pos': 0.058, 'comp..."
3,3630_4,0,It must be assumed that those who praised this...,"{'neg': 0.066, 'neu': 0.878, 'pos': 0.056, 'co..."
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,"{'neg': 0.119, 'neu': 0.741, 'pos': 0.14, 'com..."

In [18]:
review_df['compound']  = review_df['scores'].apply(lambda score_dict: score_dict['compound'])
review_df.head()

,id,sentiment,review,scores,compound
0,5814_8,1,With all this stuff going down at the moment w...,"{'neg': 0.13, 'neu': 0.744, 'pos': 0.126, 'com...",-0.8278
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...","{'neg': 0.047, 'neu': 0.739, 'pos': 0.214, 'co...",0.9819
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,"{'neg': 0.142, 'neu': 0.8, 'pos': 0.058, 'comp...",-0.9883
3,3630_4,0,It must be assumed that those who praised this...,"{'neg': 0.066, 'neu': 0.878, 'pos': 0.056, 'co...",-0.2189
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,"{'neg': 0.119, 'neu': 0.741, 'pos': 0.14, 'com...",0.7960

In [19]:
# convert compound score to 1 or 0 and add to new olumn in df called 'comp_score'
conditions = [review_df['compound']>=0, review_df['compound']<0]
results = [1,0]
review_df['comp_score'] = np.select(conditions, results)

In [20]:
# Does assigned sentiment match predicted sentiment?
review_df['match'] = np.where(review_df['sentiment'] == review_df['comp_score'], True, False)
review_df.head(10)

,id,sentiment,review,scores,compound,comp_score,match
0,5814_8,1,With all this stuff going down at the moment w...,"{'neg': 0.13, 'neu': 0.744, 'pos': 0.126, 'com...",-0.8278,0,False
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...","{'neg': 0.047, 'neu': 0.739, 'pos': 0.214, 'co...",0.9819,1,True
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,"{'neg': 0.142, 'neu': 0.8, 'pos': 0.058, 'comp...",-0.9883,0,True
3,3630_4,0,It must be assumed that those who praised this...,"{'neg': 0.066, 'neu': 0.878, 'pos': 0.056, 'co...",-0.2189,0,True
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,"{'neg': 0.119, 'neu': 0.741, 'pos': 0.14, 'com...",0.7960,1,True
5,8196_8,1,I dont know why people think this is such a ba...,"{'neg': 0.185, 'neu': 0.591, 'pos': 0.225, 'co...",0.3935,1,True
6,7166_2,0,"This movie could have been very good, but come...","{'neg': 0.163, 'neu': 0.709, 'pos': 0.129, 'co...",-0.6863,0,True
7,10633_1,0,I watched this video at a friend's house. I'm ...,"{'neg': 0.062, 'neu': 0.898, 'pos': 0.04, 'com...",-0.4517,0,True
8,319_1,0,"A friend of mine bought this film for £1, and ...","{'neg': 0.072, 'neu': 0.735, 'pos': 0.193, 'co...",0.9707,1,False
9,8713_10,1,<br /><br />This movie is full of references. ...,"{'neg': 0.0, 'neu': 0.805, 'pos': 0.195, 'comp...",0.8481,1,True

In [21]:
# calculate accuracy of our model
accuracy = review_df['match'].sum()/25000*100
print(f'The accuracy of our model using VADER is {accuracy}%.')

The accuracy of our model using VADER is 69.356%.

### Part 2: Prepping Text for a Custom Model

If you want to run your own model to classify text, it needs to be in proper form to do so. The following steps will outline a procedure to do this on the movie reviews text.

1. Convert all text to lowercase letters.

In [22]:
df = pd.read_csv('labeledTrainData.tsv', sep='\t')

In [23]:
df["review"] = df["review"].str.lower()
df.head()

       id  sentiment                                             review
0  5814_8          1  with all this stuff going down at the moment w...
1  2381_9          1  \the classic war of the worlds\" by timothy hi...
2  7759_3          0  the film starts with a manager (nicholas bell)...
3  3630_4          0  it must be assumed that those who praised this...
4  9495_8          1  superbly trashy and wondrously unpretentious 8...

2. Remove punctuation and special characters from the text.

In [24]:
# I hated the way the book went about this activity so I found an alternative that makes sense to me.
import re

In [25]:
df['review'] = df['review'].apply(lambda x: re.sub('[^A-Za-z0-9]', ' ', x))
df.head()

       id  sentiment                                             review
0  5814_8          1  with all this stuff going down at the moment w...
1  2381_9          1   the classic war of the worlds   by timothy hi...
2  7759_3          0  the film starts with a manager  nicholas bell ...
3  3630_4          0  it must be assumed that those who praised this...
4  9495_8          1  superbly trashy and wondrously unpretentious 8...

3. Remove stop words.

In [26]:
# Again I didn't like/understand the way the book went about this

# Download stopwords package
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\karli\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [27]:
df['review'] = df['review'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

In [28]:
df['review'].head()

0    stuff going moment mj started listening music ...
1    classic war worlds timothy hines entertaining ...
2    film starts manager nicholas bell giving welco...
3    must assumed praised film greatest filmed oper...
4    superbly trashy wondrously unpretentious 80 ex...
Name: review, dtype: object

4. Apply NLTK’s PorterStemmer.

In [29]:
# First I have to tokenize the reviews since I haven't done that yet
from nltk.tokenize import word_tokenize

In [30]:
df['tokenized_review'] = df.apply(lambda row: nltk.word_tokenize(row['review']), axis=1)
df.head()

,id,sentiment,review,tokenized_review
0,5814_8,1,stuff going moment mj started listening music ...,"[stuff, going, moment, mj, started, listening,..."
1,2381_9,1,classic war worlds timothy hines entertaining ...,"[classic, war, worlds, timothy, hines, enterta..."
2,7759_3,0,film starts manager nicholas bell giving welco...,"[film, starts, manager, nicholas, bell, giving..."
3,3630_4,0,must assumed praised film greatest filmed oper...,"[must, assumed, praised, film, greatest, filme..."
4,9495_8,1,superbly trashy wondrously unpretentious 80 ex...,"[superbly, trashy, wondrously, unpretentious, ..."

In [31]:
# Now I will apply PortStemmer
from nltk.stem.porter import PorterStemmer

In [32]:
# Create stemmer
porter = PorterStemmer()

In [33]:
df['stemmed_review'] = df['tokenized_review'].apply(lambda tokenized_words : [porter.stem(word) for word in tokenized_words])

In [34]:
df['stemmed_review'].head()

0    [stuff, go, moment, mj, start, listen, music, ...
1    [classic, war, world, timothi, hine, entertain...
2    [film, start, manag, nichola, bell, give, welc...
3    [must, assum, prais, film, greatest, film, ope...
4    [superbl, trashi, wondrous, unpretenti, 80, ex...
Name: stemmed_review, dtype: object

5. Create a bag-of-words matrix from your stemmed text (output from (4)), where each row is a word-count vector for a single movie review (see sections 5.3 & 6.8 in the Machine Learning with Python Cookbook). Display the dimensions of your bag-of-words matrix. The number of rows in this matrix should be the same as the number of rows in your original data frame.

In [35]:
# Load library
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [36]:
df['stemmed_review'] = df['stemmed_review'].str.join(" ")
df.head()

,id,sentiment,review,tokenized_review,stemmed_review
0,5814_8,1,stuff going moment mj started listening music ...,"[stuff, going, moment, mj, started, listening,...",stuff go moment mj start listen music watch od...
1,2381_9,1,classic war worlds timothy hines entertaining ...,"[classic, war, worlds, timothy, hines, enterta...",classic war world timothi hine entertain film ...
2,7759_3,0,film starts manager nicholas bell giving welco...,"[film, starts, manager, nicholas, bell, giving...",film start manag nichola bell give welcom inve...
3,3630_4,0,must assumed praised film greatest filmed oper...,"[must, assumed, praised, film, greatest, filme...",must assum prais film greatest film opera ever...
4,9495_8,1,superbly trashy wondrously unpretentious 80 ex...,"[superbly, trashy, wondrously, unpretentious, ...",superbl trashi wondrous unpretenti 80 exploit ...

In [37]:
# Create the bag of words feature matrix
count = CountVectorizer()
bag_of_words = count.fit_transform(df['stemmed_review'])

In [38]:
bag_of_words

<25000x50781 sparse matrix of type '<class 'numpy.int64'>'
	with 2384709 stored elements in Compressed Sparse Row format>

6. Create a term frequency-inverse document frequency (tf-idf) matrix from your stemmed text, for your movie reviews (see section 6.9 in the Machine Learning with Python Cookbook). Display the dimensions of your tf-idf matrix. These dimensions should be the same as your bag-of-words matrix.

In [39]:
# Load libraries
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [40]:
# Create the tf-idf feature matrix
tfidf = TfidfVectorizer()
feature_matrix = tfidf.fit_transform(df['stemmed_review'])

In [41]:
# Show tf-idf feature matrix
feature_matrix

<25000x50781 sparse matrix of type '<class 'numpy.float64'>'
	with 2384709 stored elements in Compressed Sparse Row format>